beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
greenlet==3.0.3
idna==3.7
mysql-connector-python==8.3.0
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
pytz==2024.1
pywin32==305.1
requests==2.31.0
setuptools==68.2.2
soupsieve==2.5
SQLAlchemy==2.0.29
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.1
wheel==0.41.2